{% extends 'main/base.html' %}
{% block title %}
Create New Client
{% endblock %}
 
{% block content %}
	<h3>Create a Client</h3>
	<br>
	<form method="post" action="/client/create/" class="form-group">
		{% csrf_token %}
		<div class="input-group mb-3">
	  		<div class="input-group-prepend">
	  		<button name="save" type="submit" class="btn btn-success">Create</button>
	  		</div>
	  		<p>ID: {{form.id}}</p>
			<p>DOCUMENT: {{form.document}}</p>
			<p>FIRST NAME: {{form.first_name}}</p>
            <p>LAST NAME: {{form.last_name}}</p>
			<p>EMAIL: {{form.email}}</p>
		
		</div>
	</form>
{% endblock %}
