{% extends 'main/base.html' %}
{% block title %}
Create New Bill-Product
{% endblock %}
 
{% block content %}
	<h3>Create a Bill-Product</h3>
	<br>
	<form method="post" action="/billproduct/create/" class="form-group">
		{% csrf_token %}
		<div class="input-group mb-3">
	  		<div class="input-group-prepend">
	  		<button name="save" type="submit" class="btn btn-success">Create</button>
	  		</div>
	  		<p>ID: {{form.id}}</p>
            <p>BILL ID: {{form.bill_id}}</p>
            <p>PRODUCT ID: {{form.product_id}}</p>
		
		</div>
	</form>
{% endblock %}